@charset "utf-8";
/* CSS Document */

/* =========================================
                    set up
============================================ */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 15px;
    color: #3a3a3a;
    background-color: #fff;
}

header, footer, nav {
    display: block;
    width: 100%;
    float: left;
}

.clearAll{ 
    clear: both; 
    font-size: 0px; 
    width: 0px; 
    height: 0px; 
}

.center{ 
    text-align: center; 
}

.img-responsive {
    display: inline;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto; 
    width: 1000px;
}

.full-width {
    width: 100%;
    float: left;
}

.w50-fl {
    width: 50%;
    float: left;
}

/* =========================================
                    index
============================================*/
header {
    background-color: #fff;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #056B1F;
}

footer {
    height: 30px;
    line-height: 30px;
    background-color: #C4EFFD;
    text-align: center;
    color: #056B1F;
}

.wrapper-content {
    background-color: #F4FFF4;
}

.top-banner {
    border-bottom: 3px solid #056B1F;
    padding: 20px 0;
}

.copy-right {
    border-top: 3px solid #056B1F;
}

.main-padding {
    padding: 100px 50px;
}

.back-home {
    margin-top: 30px;
    text-align: center;
}

.back-home a {
    color: #fff;
    background-color: #056B1F;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.back-home a:hover {
    background-color: #07AB31;
    transition: all 0.5s ease;
}
/* =========================================
                    Owl Carousel
============================================*/










/* =========================================
                    Slider Revolution
============================================*/
.slider-revolt {
    padding: 41px 0px;
}

.top-header {
    height: 128px;
    width: 100%;
    float: left;
}

.banner {
    width: 100%;
    position: relative;
    padding: 0;
    float: left;
    overflow: visible;
    /*max-height: 500px;*/
}

.tp-leftarrow.default {
    background: url("../images/slider_arrow_prev.png") top left no-repeat !important;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;
    z-index: 100;
}

.tp-rightarrow.default {
    background: url("../images/slider_arrow_next.png") top left no-repeat !important;
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;
    z-index: 100;
}

.slider-revolution {
    background-color: #056B1F;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

.slider-revolution:hover {
    background-color: #07AB31;
    transition: all 0.5s ease;
}
